.catalog__pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination {
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 12px;
		margin-right: 12px;
	}
	&__item {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid transparent;
		border-radius: 2px;
		width: 36px;
		height: 36px;
		transition: border-color, color 0.2s ease-in-out;
		&:hover {
			color: $color-main;
		}
		&--active {
			border: 2px solid $color-main;
		}
	}
	&__arrow {
		display: flex;
		width: 18px;
		height: 18px;
		background-image: url('img/arrow.svg');
		&-start {
			transform: rotate(180deg);
		}
		&[href=''] {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}
// 	&__arrow {
// 		width: 18px;
// 		height: 18px;
// 		color: $color-primary;
// 		&-start {
// 			transform: rotate(180deg);
// 		}
// 		&--disabled {
// 			color: $color-grey-light;
// 			pointer-events: none;
// 		}
// 	}
// }
// .arrow {
// 	width: 18px;
// 	height: 18px;
// }
